body{
    
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
span#gooselogo{
    color: black;
    margin-left: 40%;
    
}
#gooseimg{
    height: 120px;
    width: 120px;
    
}
button#honkmenu{
    
    float: right;
    color: orange;
}
#honkLink{
    text-decoration: none;
    color: white;
}
button{
    height: 55px;
    width: 100px;
    background-color: orange;
    border-radius: 5px;
    border: none;
   
}