body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    /*padding: 14px 16px;*/
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    height: auto;
    width: auto;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
 
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media (max-width:1380px) {
    img#goosebanner {
      display: none;
    }
  }
.notSupported{
visibility: hidden;
}
  @media (max-width:510px) {
   *{
     display: none;
   }
   .notSupported{
     visibility: visible;
   }
  }