/* for index.html page */
div#header{
    width: 100%;
    height: auto;
   
}

body{
    background-image: url('/images/goosebg.png');
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-size: 1100px 1100px;
    
 
}
div#box{
    border:solid 2px black;
    background-color:rgba(255,251, 0, 0.6); 
    opacity: 90%;
    border-radius: 14px;
    font-size: 20pt;
}
#para{
    font-size: 30pt;
    font-family: Verdana;
    font-weight: bold;
    opacity: 90%;
}
#body{
    background-image: url("images/goosebg.png"); 
    background-size: 1100px 1100px;
}
#header1{
    font-size: 20pt;
    font-family: Verdana;
}
#buton{
    font-size: 20pt;
    border-radius: 50px;
    padding: 3px;
    font-family: Verdana;
    width: 100px;
    height: 50px;
}
#cont{
    font-size: 15pt;
    font-family: Verdana;
}
#cont2{
    font-size: 15pt;
    font-family: Verdana;
}
#line{
    border:solid 1px black;
}
#aboutbox{
    border: solid 2px black;
    border-radius: 3px;
    background-color: rgba(255,251, 0, 0.6) ;
    font-size: 20pt;
    font-family: verdana;
}
#imagesbox{
    border: solid 2px black;
    border-radius: 3px;
    background-color: rgba(255,251, 0, 0.6) ;
    font-size: 20pt;
    font-family: verdana;
}
#imagedes{
    margin-top: 5%;
    margin-left: 50%;
    margin-bottom: 1%;
}
#imagetext{
    margin-left: 51.2%;
}
#arrow{
    margin-left: 52.7%;
}
#imagedes2{
    margin-top: 5%;
    margin-left: 85%;
    margin-bottom: 1%;
}
#imagedes3{
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 1%;
}
#celldes{
    width: 2000px;
}
#celldes2{
    width: 2000px;
}

/* try animation bg */
